<HTML>
<BODY>
<STYLE TYPE="text/css">
<!--
BODY
   {
  /*color:white;
   background-color:black;*/
   font-family:sans-serif;
   }
A:link{color:blue}
A:visited{color:yellow}
-->
</STYLE>






<P>&nbsp;<TABLE align = "left" cellpadding="2" cellspacing="2" border="0" width = "75%"><col width="40%"><col width="60%">
<tr><td colspan="2"><P>Dear <b>$adminUsersVO.getAdminName()</b>,<BR/>
<BR/>Your username and password are below </P>

<BR/><P>Username : $adminUsersVO.getEmpId()
<BR/><P>Password : $adminUsersVO.getAdminPassword()

</td></tr>
<tr><td>&nbsp;</td></tr>

<tr><td colspan="2">

</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td colspan="2">
Warm regards,<BR/>
emas
</td></tr>
<BR/>
<tr><td>

</td></tr>

</TABLE></P>

</BODY>

</HTML>